@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="text-center">
    <b><h1 class="display-4">Welcome To AMCE INC</h1></b>
</div>
<br /><br /><br />
<div class="text-center">
    <embed type="image/jpg" src="https://i.ibb.co/8DNtNy4/banner.png" alt="">
</div>
