@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

    <p>Welcome to the AMCE INC e-commerce store</p>
    <p>This Privacy Policy is still under construction and will be fully available</p>
    <p>in the production version of the site!</p>
    <p>Please enjoy the prototype of the site.</p>
    <p>Regards</p>
    <p>Callum - 19010230</p>
