@model IEnumerable<_19010230_e_commerce_store.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
}


<head>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Total Product Sales"
	},
	subtitles: [{
		text: "across each category"
	}],
	axisY: {
		title: "Number of Sales",
		gridThickness: 0
	},
	data: [{
		type: "bar",
		indexLabel: "{y}",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
    </script>
</head>


    <h1>Product Category Sale History</h1>

    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Product Category
                    </th>
                    <th>
                        Total Product Orders
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalOrders)
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <br />
        <br />
        <br />

        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    </div>
<style>
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            border-color: black;
        }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }
</style>